---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";
export interface Props {
  title: string;
  description: string;
  image?: string;
  pubDate?: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
  title,
  description,
  PubDate,
  image = "https://ogimage-puce.vercel.app/api/og?title=" +
    title +
    " - Xingyu Liu",
} = Astro.props;
let schema = JSON.stringify({
        "@context": "https://schema.org/",
        "@type": "Article",
        "headline": title,
		"image":image,
        "author": {
          "@type": "Person",
          "name": "Xingyu Liu",
		  "url":"https://xingyu.page/about"
        },
        "datePublished": PubDate,
        "description": description,
		"isAccessibleForFree":true
      });
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title + " - Xingyu Liu"}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} />

  <!-- JSON-LD -->
  <script type="application/ld+json" set:html={schema}></script>
